@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.ks-title-1 {
  background: linear-gradient(270deg,#f754d6,#333,#944af2);
  background-size: 200% 200%;
  -webkit-background-clip: text
}

.ks-title-1,.ks-title-2 {
  font-family: NexonMaplestory-light;
  -webkit-text-fill-color: transparent;
  animation: graani 5s infinite
}

.ks-title-2 {
  background: linear-gradient(270deg,#a818bb,#1d4ed8,#001245);
  background-size: 200% 200%;
  -webkit-background-clip: text
}

.ks-title-3 {
  font-family: NexonMaplestory-light;
  background: linear-gradient(270deg,#fff,#f19b5e,#f97316);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: graani 5s infinite
}

@keyframes graani {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
